<div class="navbar">
  <p>Mister Cocktail</p>
</div>

<div class="home-banner">
  <h1 id="#banner-typed-text">Cocktails</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    </div>
  </div>
</div>

